<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Events Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="/css/datetimepicker.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div th:insert="navbar :: navbar"></div>
	<div class="container container-margin">
		<div class="row">
			<div class="col-lg-8 col-md-12 pt-5">
				<div class="card">
					<div class="card-header">
						<h2>Event Search</h2>
						<div class="d-flex justify-content-end social_icon">
							<span><i class="fas fa-search"></i></span>
						</div>
					</div>
					<div class="card-body">
						<div class="container-fluid">
							<form method="post" th:action="@{/events}" th:object="${event}">
								<div class="form-group row">
									<div class="col-sm-4">
										<div class="input-group mb-3">
											<input type="text" id="picker1" class="form-control"
												th:field="*{from}">
											<div class="input-group-append">
												<span class="input-group-text"><i
													class="far fa-calendar-alt"></i></span>
											</div>
										</div>

									</div>
									<label for="picker2" class="col-sm-1 col-form-label">To</label>
									<div class="col-sm-4">
										<div class="input-group mb-3">
											<input type="text" id="picker2" class="form-control"
												th:field="*{to}">
											<div class="input-group-append">
												<span class="input-group-text"><i
													class="far fa-calendar-alt"></i></span>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<button class="btn btn-warning" style="width: 100%">Search</button>
									</div>
								</div>
							</form>
						</div>

						<hr>

						<div>
							<table class="table">
								<thead class="thead">
									<tr>
										<th scope="col">Name</th>
										<th scope="col">Date</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="event: ${events}">
										<td th:text="${event.name}">></td>
										<td th:text="${event.from}"></td>
										<td>
											<form method="post"
												th:action="@{/enroll/events/{id}(id=${event.id})}">
												<button th:disabled="${event.enrolled}"
													class="btn btn-warning">Enroll</button>
											</form>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="error">
								<span th:if="${events != null && events.size() == 0}"> No
									event found</span>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="col pt-5">
				<div class="card">
					<div class="card-header">
						<h4>My Event Calendar</h4>
						<div class="d-flex justify-content-end social_icon">
							<span><i class="fas fa-calendar-alt"></i></span>
						</div>
					</div>

					<div class="card-body">
						<div class="container-fluid">							
							<div th:each="event : ${userevents}" class="mb-4">
								<h4 th:text="${event.key}">YEAR</h4>
								<div class="row mb-4"  th:each="monthKey: ${event.value}">
									<div class="row"  th:each="e,itr: ${monthKey.value}">									
										<div class="media">
										  <img class="mr-3 calendar" th:if="${itr.index ==0 }" th:src="@{${'images/month/'+monthKey.key+'.png'}}">
										  <img class="mr-3 calendar" th:unless="${itr.index ==0 }" src="images/month/none.png">
										  <div class="media-body">
										    	<li><span th:text="${e.name}"></span></li>
										  </div>
										</div>
									</div>
								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/dd0ec8033e.js"></script>
	<script src="js/datetimepicker.full.min.js"></script>
	<script>
		$('#picker1').datetimepicker({
			timepicker : false,
			datepicker : true,
			format : 'm/d/Y'
		});

		$('#picker2').datetimepicker({
			timepicker : false,
			datepicker : true,
			format : 'm/d/Y'
		});
	</script>


</body>
</html>