<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
	<div class="services-container">
		<div class="card card-forgotPassword">
			
			    <div class="d-flex justify-content-center forgotPassword_icon">
					<span><i class="fas fa-unlock-alt"></i></span>
				</div>
				<div class="d-flex justify-content-center forgot-card-header">
					<h3>Forgot Password or username?</h3>				
				</div>
				
				
			<div class="card-body">
				<div class="card-header">
				<p>We just need your registered email address to send you password reset. </p>
				</div>
								
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Email">
					</div>
					
					
					<div class="form-group">
						<input type="submit" value="Reset Password" class="btn float-left reset_btn">
					</div>
					
				</form>
				
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					<a href="/forgotPassword">Change password</a>
				</div>
			</div>
			
			
		</div>
		
		
			
		
	</div>
	
</div>
		
				
				
</div>


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>