<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Roommate Search</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" href="/css/datetimepicker.min.css">
</head>
<body>
	<div th:insert="navbar :: navbar"></div>
	<div class="container container-margin">
		<div class="d-flex justify-content-center pt-5">
			<div class="card">
				<div class="card-header">
					<h2>Roommate Search</h2>
					<div class="d-flex justify-content-end social_icon">
						<span><i class="fas fa-search"></i></span>
					</div>
				</div>




				<div class="card-body">
					<div class="container-fluid">
						<form method="post" class="font12" th:action="@{/roommates}"
							th:object="${roommate}">
							<div class="controls">
								<div class="row">
									<div class="col-lg-2">
										<label for="gender">Choose Gender</label>
										<div class="input-group mb-3">
											<select id="gender" class="form-control font12"
												th:field="*{gender}">
												<option selected value="Unspecified">Unspecified</option>
												<option value="Male">Male</option>
												<option value="Female">Female</option>
											</select>
										</div>
									</div>

									<div class="col-lg-5 whitebordergroup rounded">
										<label for="picker1">Date Range</label>
										<div class="row">
											<div class="col">
												<div class="input-group">
													<input type="text" id="picker1" class="form-control font12"
														placeholder="Form Date" th:field="*{fromDate}">
													<div class="input-group-append">
														<span class="input-group-text"><i
															class="far fa-calendar-alt"></i></span>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="input-group">
													<input type="text" id="picker2" class="form-control font12"
														placeholder="To Date" th:field="*{toDate}">
													<div class="input-group-append">
														<span class="input-group-text"><i
															class="far fa-calendar-alt"></i></span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-3">
										<label for="pricefrom">Approximate Price</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">$</span>
											</div>
											<input type="text" pattern="\d+"
												oninput="validity.valid||(value='');"
												class="form-control font12" id="priceto"
												placeholder="Approximate Price" th:field="*{price}">
										</div>
									</div>
									<div class="col-lg-2 mt-4">
										<div class="form-group">
											<button class="btn btn-warning" style="width: 100%">Search</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

					<hr>

					<div>
						<table class="table">
							<thead class="thead">
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Gender</th>
									<th scope="col">Availability</th>
									<th scope="col">Price</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="rm: ${roommates}">
									<td th:text="${rm.name}">></td>
									<td th:text="${rm.gender}"></td>
									<td th:text="${rm.availability}"></td>
									<td th:text="${rm.price}"></td>
								</tr>
							</tbody>
						</table>
						<div class="error">
							<span th:if="${roommates != null && roommates.size() == 0}">
								No record found </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/dd0ec8033e.js"></script>
	<script src="js/datetimepicker.full.min.js"></script>
	<script>
		$('#picker1').datetimepicker({
			timepicker : false,
			datepicker : true,
			format : 'm/d/Y'
		});

		$('#picker2').datetimepicker({
			timepicker : false,
			datepicker : true,
			format : 'm/d/Y'
		});

	</script>
</body>
</html>