<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
	<div class="card card-services">
    <div class="services-section">
      <div class="inner-width">
        <h1 class="section-title">Welcome to Student Services</h1>
        <div class="border"></div>
        <div class="services-container">

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-address-book"></i>
            </div>
            <div class="service-title">Update Information</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-users"></i>
            </div>
            <div class="service-title">People search</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-book-open"></i>
            </div>
            <div class="service-title">Textbook search</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="service-title">Purchase textbook</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-user-friends"></i>
            </div>
            <div class="service-title">Find roommate</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-coffee"></i>
            </div>
            <div class="service-title">Meal plan</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
            </div>
                        
            <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-subway"></i>
            </div>
            <div class="service-title">Purchase bus tickets</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
            </div>
            
            <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-football-ball"></i>
            </div>
            <div class="service-title">Sports activities and parties</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
            </div>
            
            <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-chart-bar"></i>
            </div>
            <div class="service-title">Election</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>